body {
    background-color:aqua;
    background-image: url(web.jpeg);
}
.top{
    text-align: center;
    margin: 40px;
    padding: auto;
    color: black;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
.submit{
    
    color:green;
    height:50px;
    width:100px;
    font:bold15px arial,sans-serif;
    text-shadow:none;
}
.first{
    text-align: center;
    width: 1000px;
    margin: 5%;
    padding-left: 10%;
    font-style: italic;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 800;
   }

   button{
       background-color: green;
       color: honeydew;
      margin-top: 3%;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 800;
   }
   .tb{
       text-align: center;
       padding-left:350px;
   }